* {
  padding: 0;
  margin: 0;
}
.main {
  height: 100vh;
  display: grid;
  grid-template-areas:
    "m a"
    "m a"
    "f a";
  overflow-x: hidden;
  main {
    width: 50vw;
    grid-area: m;
    height: fit-content;
  }

  // aside

  aside {
    width: 50vw;
    height: 100%;
    grid-area: a;
    display: flex;
    flex-direction: column;
    align-items: center;
    overflow-x: hidden;
    background-color: rgba(21, 23, 24, 1);
    h1 {
      margin-left: 10%;
      margin-top: 15vh;
      width: 100%;
      font-family: Rowdies;
      font-size: 4rem;
      line-height: 79px;

      /* Redberry Red */
      color: #fe3b1f;
    }
    p {
      margin-left: 10%;
      margin-right: 10%;
      margin-top: 10%;
      font-family: Montserrat;
      font-size: 24px;
      line-height: 200%;

      /* or 48px */
      align-items: center;
      letter-spacing: 0.05em;

      color: #ffffff;
    }
  }

  footer {
    grid-area: f;
  }
}
// Pagination

.pagBtns {
  margin-top: 10%;
  margin-bottom: 10%;
  width: 100%;
  list-style: none;
  display: flex;
  align-items: flex-end;
  justify-content: center;
  div {
    margin-left: 6px;
    margin-right: 6px;
    padding-left: 6px;
    padding-right: 6px;
    border-radius: 50%;
    font-size: 10px;
    color: #fe3b1f;
    background-color: #fe3b1f;
    border: 4px solid #fe3b1f;

    cursor: pointer;
    opacity: 0.1;
    &:nth-of-type(1),
    &:nth-of-type(2),
    &:nth-of-type(7) {
      opacity: 1;
    }
  }
}
.nextBtns,
.prevBtns {
  background-color: white !important;
  opacity: 1;
}
.prevBtns {
  transform: rotateY(-180deg);
}
//Error

.error {
  text-align: center;
  margin: 10px;
  padding-top: 1%;
  padding-bottom: 1%;
  width: 45%;
  color: #fe3b1f;
  border: #fe3b1f 2px solid;
  cursor: pointer; //just for fun
  &:hover {
    background-color: rgba(21, 23, 24, 1);
  }
}
// headers

header {
  display: flex;
  justify-content: center;
  width: 100%;
  h1 {
    margin-top: 15vh;
    width: 80%;
    font-family: Rowdies;
    font-size: 4rem;
    line-height: 79px;

    margin-left: 10%;
    /* Redberry Red */
    color: #fe3b1f;
  }
}

//inputs
input {
  margin-top: 5vh;
  border: 1px solid #525557;
  width: 45%;
  height: 6vh;
  box-sizing: border-box;
  padding-left: 5%;
  &::placeholder {
    font-family: Montserrat;
    font-style: italic;
    color: #454545;
  }
}
